<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射接口  -->
<mapper namespace="com.easy.mapper.AdminMapper" >

<select id="selectAll" resultType="com.easy.model.Adimin">
select admin_No adminNo,admin_User adminUser,admin_Pw adminPw,admin_Type adminType from adimin
</select>


<insert id="add"   parameterType="com.easy.model.Adimin">
 <selectKey order="BEFORE"   resultType="int" keyProperty="adminNo">
 select sql_admino.nextval from dual
 </selectKey>
insert into  adimin values(#{adminNo},#{adminUser},#{adminPw},#{adminType})
</insert> 


<select id="selectByname" parameterType="java.lang.String" resultType="com.easy.model.Adimin">
select admin_No adminNo,admin_User adminUser,admin_Pw adminPw,admin_Type adminType from adimin
where admin_User=#{adminUser} 
</select>

</mapper>